@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../bower_components/font-awesome/css/font-awesome.css";

@font-face {
    font-family: aqua;
    src: url('assets/fonts/aqua.ttf');
}
