.container {
    padding-top: 2.5%;
}

.bookPreview {
    font-family: aqua, serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    border: solid 1px #555;
    background-color: #eed;
    width: 22%;

    padding: 5%;
    margin: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.bookPreview:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.bookCover {
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}