.container {
    padding-top: 5%;
}

.bookPreview {
    padding-bottom: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookPreview:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.bookCover {
    text-align: center;
}