<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 bookPreview" *ngFor="let r of records">
                <div class="bookCover">
                    <i class="fa fa-book fa-3x"></i>
                </div>
                <!-- <img src="../../assets/images/default_book_cover.jpg"> -->
                <span>{{r.title}}</span> <br/>
                <span>{{r.subject}}</span> <br/>
                <span>{{r.creator}}</span> <br/>
            </div>
        </div>
    </div>
</div>