<div class="container-fluid">
  <div class="row about-container">
    <div class="row about-info">
        <label>About</label>
        <p>The idea is to create a collective intelligence system (CIS) based on the metadata which is offered by wienbibliothek.</p>
        <p></p>
        <p>CIS Definition: “Harness the collective intelligence of connected groups of people by providing a web-based environment to share, distribute and retrieve topic-specific information”
            (Musil et al., 2015).</p>
        <p></p>
        <p>CIS design pattern used for this prototype: Comments (Reviews)</p>
        <p>Problem: users cannot get in contact and engage with others for conversation about content</p>
        <p>Solution: enable users to express their opinion and encourages discussion</p>
        <p>Used in: YouTube, Yelp, Flicker, Facebook [1]</p>
        <p></p>
        <p>Description:</p>
        <p>The service is a web application that allows users to comment (review) the books provided by wienbibliothek. The backend of the application retrieves the metadata from wienbibliothek.
            The interfacing is realized using the OAI-PMH access offered.</p>
        <p>Definition:</p>
        <p>Open Archives Initiative – Protocol for Metadata Harvesting</p>
        <p>Combination of protocol and format for exchanging metadata between Libraries, Archives and Museums. Output = XML / Dublin Core Qualified</p>
        <p></p>
        <p>The user interface is a traditional web application which offers end users following features:</p>
        <p></p>
        <p>1. Browse the metadata from wienbibliothek</p>
        <p>2. Search the metadata</p>
        <p>3. Create new comment (reviews)</p>
        <p>4. Browse existing comments (reviews)</p>
        <p>5. User generated content is stored in a persistent database</p>
    </div>
  </div>
</div>







