<div class="container-fluid custom-modal-container">
    <div class="row custom-modal-header">
        <div class="col-sm-12">
            <h1>{{context.record.title}}</h1>
        </div>
    </div>
    <div class="row">
        <div><strong>Title:</strong> {{context.record.title}}</div>
        <div><strong>Subject:</strong> {{context.record.subject}}</div>
        <div><strong>Creator:</strong> {{context.record.creator}}</div>
        <div><strong>Publisher:</strong> {{context.record.publisher}}</div>
        <div><strong>Language:</strong> {{context.record.language}}</div>
        <div><strong>Date:</strong> {{context.record.date}}</div>
        <div><strong>Description:</strong> {{context.record.description}}</div>
        <div><strong>Datestamp:</strong> {{context.record.datestamp}}</div>
    </div>
</div>