.modal {
    display: block;
    padding-left: 0;
    z-index: 150;
    position: relative;
}

.modal-backdrop {
    height: 100%;
}

.modal-dialog {
    font-family: aqua, serif;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-header {
    background-color: #494E6B;
    color: #C49F66;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-top: -15px;
    margin-bottom: 40px;
}

.info, h5 {
    width: 92%;
    display: block;
    margin: auto;
    word-wrap: break-word;
}

.recommendations {
    width: 92%;
    display: block;
    margin: auto;
    overflow: -moz-scrollbars-horizontal;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-base-color:#ffeaff;
}

.reviews {
    width: 92%;
    display: block;
    margin: auto;
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    scrollbar-base-color:#ffeaff;
}

.review {
    margin-left: 10px;
}

.review-creator {
    width: 92%;
    display: block;
    margin: auto;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.recommendation {
    display: inline-block;
    float: none;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row {
    margin-bottom: 12px;
    margin-top: 6px;
}

.bookCover {
    text-align: center;
}

.show-when-hover {
    display: none;
}

.recommendation:hover .show-when-hover {
    display: block;
    text-overflow: initial;
    font-size: x-small;
    overflow: visible;
    white-space: normal;
    color: #C49F66;
    background-color: #494E6B;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 35000000000;
}

.recommendationTitle {
    font-size: x-small;
}

h5 {
    color: #C49F66;
}

b {
    color: #C49F66;
}


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}